{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2 class="mt-3">Info_Hub</h2>
    <hr>
    <div class="row mt-5">
        <br>
        <div class="col">
            <h4>Notes</h4>
            {% for note in notes %}
            {% include "note_card.html" %}
            {% endfor %}
        </div>
        <br>
        <div class="col">
            <h4>Files</h4>
            {% for file in files %}
            {% include "file_card.html" %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
{% endblock %}
